In [1]:
import pandas as pd
import numpy as np

# Example DataFrame with multiple columns
data = {'column1': ['nk', 42, 'nk', 17, 'nk'],
        'column2': [10, 'nk', 25, 'nk', 'nk']}
df = pd.DataFrame(data)

# Replace "nk" with NaN in all columns
df.replace('nk', np.nan, inplace=True)

print(df)

   column1  column2
0      NaN     10.0
1     42.0      NaN
2      NaN     25.0
3     17.0      NaN
4      NaN      NaN

In [2]:
import pandas as pd

# Example DataFrame with 10 columns
# Replace this with your actual data
data = {
    'feature1': [1, 2, 3],
    'feature2': [4, 5, 6],
    'feature3': [7, 8, 9],
    'feature4': [10, 11, 12],
    'target': ['A', 'B', 'C'],  # Assume this is the 5th column
    'feature6': [13, 14, 15],
    'feature7': [16, 17, 18],
    'feature8': [19, 20, 21],
    'feature9': [22, 23, 24],
    'feature10': [25, 26, 27]
}

df = pd.DataFrame(data)

# Separate features (exclude the target column)
features = df.drop(columns=['target'])

# Separate target (only the target column)
target = df['target']

print("Features:")
print(features)
print("\nTarget:")
print(target)

Features:
   feature1  feature2  feature3  feature4  feature6  feature7  feature8  \
0         1         4         7        10        13        16        19
1         2         5         8        11        14        17        20
2         3         6         9        12        15        18        21

   feature9  feature10
0        22         25
1        23         26
2        24         27

Target:
0    A
1    B
2    C
Name: target, dtype: object